[Desktop Entry]
Comment=
Exec=java -jar /home/ivan/TLauncher-2.86/TLauncher-2.86.jar
Icon=tlauncher
Name=TLauncher
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
