[Desktop Entry]
Comment=
Exec=java -jar /home/ivan/TLLegacy/TL_legacy.jar
Icon=minecraft-launcher
Name=TLauncher Legacy
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
